<div class="jumbotron">
  <h1>Kid Dictionary</h1>
</div>

<h2>Add a word to the Kid Dictionary!</h2>
<form action="/dictionary" method="post">
  <label for="word_name">What Word Would Woo Wike Wo Wadd</label>
  <input type="text" name="word_name" class="form-control" required>


  <button type="submit" class="btn">Go!</button>
</form>
